{% extends "index.html" %}

{% load static %}

{% block title %}
    <title>Calculator</title>
{% endblock %}

{% block bg %}
    "calculator-bg"
{% endblock %}

{% block menu_list %}
    <ul class="nav-list">
                <li><a class="text-decoration-none" href="{% url 'home' %}"><i class="fas fa-home"></i> home</a></li>
                <li><a class="text-decoration-none" href="{% url 'simulation:dashboard' %}"><i class="fas fa-qrcode"></i> dashboard</a></li>
                <li><a class="active text-decoration-none" href="{% url 'simulation:calculator' %}"><i class="fas fa-calculator"></i> calculator</a></li>
                <li><a class="text-decoration-none" href="{% url 'simulation:regulations' %}"><i class="fas fa-scale-unbalanced-flip"></i> regulations</a></li>
                <li><a class="text-decoration-none" href="{% url 'simulation:info' %}"><i class="fas fa-info-circle"></i> info</a></li>
            </ul>
{% endblock %}

{% block content %}
            <br><br>
        <h1>Calculator view </h1>
            <br><br>

    <div class="container">
        <form method="POST" class="form-control">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-lg-5">
                    <p>
                        {{ field.label_tag }}
                    </p>
                </div>
                        {{ field }}
            {% endfor %}
            <input type="submit">
        </form>
    </div>

{% endblock %}
