{% extends "index2.html" %}

{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" ></script>
    <script src="{% static 'Net_Metering/javascript/chart.js' %}" defer></script>
{% endblock %}

{% block menu_list %}
    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> home</a></li>
    <li><a class="nav-link active" href="{% url 'simulation:dashboard' %}"><i class="fas fa-qrcode"></i> dashboard</a></li>
    <li><a href="{% url 'simulation:calculator' %}"><i class="fas fa-calculator"></i> calculator</a></li>
    <li><a href="{% url 'simulation:regulations' %}"><i class="fas fa-scale-unbalanced-flip"></i> regulations</a></li>
    <li><a href="{% url 'simulation:info' %}"><i class="fas fa-info-circle"></i> info</a></li>
{% endblock %}

{% block content %}

    <div class="dashboard-page-content">


          <section class="chart-section-upper">

            <div class="panels-container" id="first-panel" title="production">
              <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
            </div>

            <div class="panels-container" id="second-panel" title="profit">
              <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
            </div>

            <div class="panels-container" id="third-panel">
              <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
            </div>
 
          </section>

         <section class="section-dashboard-page">
                    <!-- ::: CHART JS ::: -->
                <canvas id="energy-balance-chart"></canvas>   
         </section>

         

         <div class="spacer">

        </div>

    </div>

{% endblock %}
