{% extends "index.html" %}

{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block script %}
<script> let totalSavingsArray = JSON.parse( '{{ total_savings_array_json|safe }}' );
         let totalProductionArray = JSON.parse( '{{ total_production_kwh_array_json|safe }}' );
         let monthIrradianceArray = JSON.parse( '{{ monthly_irradiance_json|safe }}' );
         let monthlyPanelEnergy= JSON.parse('{{monthly_panel_energy_produced_json|safe }}' );
         let paybackYear = '{{ payback_year_float }}';
         let profitPercent = '{{ profitPercent }}';
         let roi = '{{ roi }}';
         let annual_roi = '{{ annualized_roi }}';
         let lcoe = '{{ lcoe }}';
         let irr = '{{ irr }}';
         let npv = '{{ net_present_value }}'
 </script>
 <script src="{% static 'Net_Metering/javascript/chart.js' %}" defer></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" ></script>
 <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
{% endblock %}

{% block menu_list %}
    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> home</a></li>
    <li><a href="{% url 'simulation:calculator' %}"><i class="fas fa-calculator"></i> calculator</a></li>
    <li><a class="nav-link active" href="{% url 'simulation:dashboard' %}"><i class="fas fa-qrcode"></i> dashboard</a></li>
    <li><a href="{% url 'simulation:regulations' %}"><i class="fas fa-scale-unbalanced-flip"></i> regulations</a></li>
    <li><a href="{% url 'simulation:about' %}"><i class="fas fa-info-circle"></i> about</a></li>
{% endblock %}

{% block content %}

    <div class="dashboard-page-content">

      <section class="full-container">
    
        <div class="zoom-center">
          <div class="left-container">

              <div class="left-upper">

                <div class="container-icons">
                    <div class="titles-panel">Επένδυση</div>
                    <lord-icon class="lord-icon-small" src="https://cdn.lordicon.com/ftjtyaku.json"
                        trigger="hover"
                        style="width:120px;height:120px">
                    </lord-icon>
                    <p class="info-title" id="total_investment" data-value="{{ total_investment|default:'0' }}">
                      Σύνολο: {{total_investment|default:'0' }} € <br>
                      {% if discount_battery > 0 %}
                      <span class="grey-text"> Έχει εφαρμοστεί έκπτωση {{discount_PV|default:'0'}}%</span>
                      {% endif %} 
                    </p>    
                    <p class="info-title" id="battery-cost-value" data-value="{{ battery_cost|default:'0' }}">
                      {% if has_storage == "with_storage" and discount_battery == 0  %}
                      <span style="color: #738725;">✔ Μπαταρία:</span> {{battery_cost|default:'0' }} € 
                      {% elif has_storage == "with_storage" and discount_battery == 90 %}
                      <span style="color: #738725;">✔ Μπαταρία:</span> {{battery_cost|default:'0' }} € 
                      <span class="grey-text" style="color: lightslategrey;"><br> Έχει εφαρμοστεί έκπτωση {{discount_battery|default:'0'}}%</span>
                      {% elif has_storage == "with_storage" and discount_battery == 100 %}
                      <span style="color: #738725;">✔ Μπαταρία:</span> 
                      <span class="grey-text" style="color: lightslategrey;"><br> Έχει εφαρμοστεί έκπτωση {{discount_battery|default:'0'}}%</span>
                      {% else %}
                      <span class="grey-text" style="color: lightslategrey;">Άνευ Μπαταρίας</span>
                      {% endif %}  
                    </p>  
                </div>

                <div class="container-icons">
                  <div class="titles-panel">Απόσβεση</div>
                    <lord-icon class="lord-icon-small" 
                        src="https://cdn.lordicon.com/uutnmngi.json"
                        trigger="hover"
                        style="width:100px;height:120px">
                    </lord-icon>
                  <p class="info-title"  id="paybackPeriod" data-value="{{ payback_period|default:'0' }}" >{{payback_period|default:'0 έτη'}}</p>
                </div>

                <div class="container-icons">
                  <div class="titles-panel">Όφελος</div>
                    <lord-icon class="lord-icon-small" 
                        src="https://cdn.lordicon.com/isdxbcqi.json"
                        trigger="hover"
                        style="width:110px;height:120px">
                    </lord-icon>
                    <p class="info-title" id="profit">έως {{total_savings_potential|default:'0'}} €/έτος</p>
                      {% if profitPercent == 100 %}
                        <p class="green-text">Κάλυψη Ετήσιου Κόστους: <br> ({{ profitPercent|default:'0' }}%) ✔</p>
                      {% else %}
                        <p class="grey-text">Κάλυψη Ετήσιου Κόστους: <br> ({{ profitPercent|default:'0' }}%) --</p>
                      {% endif %}
                </div>

              </div>
            
              <div class="left-middle">
              
                <div class="panels-container" id="second-panel-left">
                    <canvas class="panels-element-size" id="myChart2" ></canvas>
                </div>
              
              </div>
            
              <div class="left-below">
            
                <div class="container-icons-bottom">
                  <div class="titles-panel">Μειωμένες Εκπομπές Αερίου CO2</div>
                    <lord-icon class="lord-icon-small" 
                        src="https://cdn.lordicon.com/npfyliwp.json"
                        trigger="hover"
                        style="width:120px;height:120px">
                    </lord-icon>
                  <p class="info-title" id="CO2" data-value="{{ average_CO2|default:'0' }}">{{average_CO2|default:'0' }}kg CO2 eq/kWh </p>
                </div>
                
                <div class="container-icons-bottom">
                  <div class="titles-panel">Ισοδύναμα Φυτεμένα Δέντρα</div>
                    <lord-icon class="lord-icon-small" 
                        src="https://cdn.lordicon.com/azbllxpx.json"
                        trigger="hover"
                        style="width:120px;height:120px">
                    </lord-icon>
                  <p class="info-title" id="trees" data-value="{{ trees_planted|default:'0' }}">{{trees_planted|default:'0' }} νέα δέντρα </p>
                </div>
                
                <div class="container-icons-bottom">
                  <div class="titles-panel">Μικρότερο Ενεργειακό Αποτύπωμα</div>
                    <lord-icon class="lord-icon-small" 
                        src="https://cdn.lordicon.com/efdhjqgx.json"
                        trigger="hover"
                        style="width:100px;height:120px">
                    </lord-icon>
                  <p class="info-title" id="other_energy" data-value="{{ annual_consumption|default:'0' }}">{{annual_consumption|default:'0' }}kWh/έτος</p>
                </div>

              </div>

          </div>
          
          <div class="right-container">
            
              <div class="right-upper">

                <div class="top-right-panel-container">

                  <div id="top-right-panel">

                    <span class="titles-panel">
                      Φωτοβολταϊκό Σύστημα
                    </span> <br>

                    <div id="pv-info">

                      <div title="Στοιχεία ΦΒ Συστήματος" id="pv-info-list">
                        <span class="info-title">&#8226; Σύνολο: {{number_of_panels_required|default:'0'}} Φ/Β πάνελ</span> <br>
                        <span class="info-title">&#8226; Εμβαδόν: {{total_panel_area|default:'0'}} m²</span> <br>
                        <span class="info-title">&#8226; {{azimuth_text}}</span> <br>
                        <span class="info-title">&#8226; Κλίση: {{inclination_PV}} &deg;</span>

                          {% if total_savings_potential > 0 and profitPercent >= 100 %}
                            <p class="info-title" id="potential-savings" ><span style="color: #738725;">Πλεόνασμα ιδιοκαταναλισκόμενης ενέργειας:<br>✔</span> έως επιπλέον {{potential_kwh|default:'0'}} kWh<br></p>
                          {% elif annual_consumption > annual_PV_energy_produced and profitPercent < 90 %}
                            <p class="info-title" id="potential-savings" ><span style="color: red;">Προσοχή! </span><span style="color: lightslategray;">Απαιτείται μεγαλύτερο ΦΒ <br>σύστημα για κάλυψη ετήσιας κατανάλωσης.</span></p>
                          {% elif profitPercent < 100 and profitPercent > 90 and recommended_kWp < slider_max_value or PV_kWp < slider_max_value %}
                            <p class="info-title" id="potential-savings" ><span style="color: lightskyblue;">Με μικρές αλλαγές στις συνήθειές σας, ή με λίγο <br> μεγαλύτερο σύστημα, είναι εφικτός ο στόχος σας!!</span></p>
                          {% elif PV_kWp == slider_max_value or recommended_kWp == slider_max_value and annual_consumption > annual_PV_energy_produced %}
                            <p class="info-title" id="potential-savings" ><span style="color: lightslategrey;">Η κατανάλωσή σας υπερβαίνει την παραγόμενη ενέργεια <br>
                            και το ΦΒ σας σύστημα έχει τη μέγιστη τιμή kWp. Δοκιμάστε <br>αλλαγές σε κλίση, αζιμούθιο ή σκιάσεις.</span></p> 
                          {% else %}   
                            <p class="info-title" id="potential-savings" ><span style="color: lightslategrey;">Περιθώριο κέρδους:<br></span> Δεν υπάρχει διαθέσιμο περιθώριο κέρδους</p>
                          {% endif %}
                      </div>

                      <img class="img-house" src="{% static 'images/roof.png' %}" alt="No Image"> 
                    </div>
                      
                  </div>
                </div> 
              </div>

              <div class="right-middle">
                <div class="panels-container" id="second-panel">
                  <canvas class="panels-element-size" id="myChart1" ></canvas>
                </div>
              </div>

              <div class="right-below">

                <div class="panels-container" id="third-panel">
                  <canvas class="panels-element-size" id="myChart3"></canvas>
                </div>
          </div> 
        </div>
      </section>
      <div class="little-spacer-dash">
          <div class='go-back-button-dash-empty'>
            <a href="{% url 'simulation:calculator' %}">
              <button id="change-data-button">
               <i class="fas fa-calculator"></i>
               Νέος Υπολογισμός</button>
            </a>
          </div>
      </div>
    </div>

{% endblock %}
