{% extends "index2.html" %}

{% load static %}

{% block title %}
<title>Regulations</title>
{% endblock %}

{% block menu_list %}
    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> home</a></li>
    <li><a href="{% url 'simulation:dashboard' %}"><i class="fas fa-qrcode"></i> dashboard</a></li>
    <li><a href="{% url 'simulation:calculator' %}"><i class="fas fa-calculator"></i> calculator</a></li>
    <li><a class="nav-link active" href="{% url 'simulation:regulations' %}"><i class="fas fa-scale-unbalanced-flip"></i> regulations</a></li>
    <li><a href="{% url 'simulation:info' %}"><i class="fas fa-info-circle"></i> info</a></li>
{% endblock %}

{% block content %}

    <div class="regulations-page-content">

        <section class="section-before-calculator">
            <table class="table-title">
                    <tr class="row-in-table-title">
                        <td class="icon-calculator">
                           <i class=" fa fa-calculator" aria-hidden="true"  ></i>
                        </td>
                        <th class="calc-title">
                            <h3>Υπολογιστής Απόδοσης - Απόσβεσης</h3>
                        </th>
                    </tr>
            </table>

            <article class="calculator-article">
                <div class="padding-article">
                    Ο υπολογιστής απόδοσης οικιακού φωτοβολταϊκού συστήματος αυτοπαραγωγής με ενεργειακό συμψηφισμό
                    (Net Metering) σας βοηθάει να υπολογίσετε το εκτιμώμενο χρόνο απόσβασης της επένδυσης σας,
                    όπως και τα οικονομικά οφέλη βάσει το καταναλωτικό σας προφίλ.
                </div>
            </article>

        </section>

        <div class="spacer-in-main-content"><h2>Συμπληρώστε τα πεδία</h2></div>

        <!-- ::: CALCULATOR FORM ::: -->
        <form method="POST" class="my-form-control" autocomplete="off">
            {% csrf_token %}

            <fieldset class="calculator-fieldset">
                    <!-- PANEL 1 -->
                    <div class="panel">
                        <div class="title-panel">
                            <span class="number"> 1 </span>
                            <h4>Τοποθεσία</h4>
                        </div>

                            <div class="option-selector-margin">
                                <p>{{ form1.select_district.label_tag }}</p>
                                <p  title="Παρακαλούμε, επιλέξτε Περιφέρεια εγκατάστασης">{{ form1.select_district }}</p>
                                    <div class="option-selector-margin-select-phase" title="Παρακαλούμε, επιλέξτε Παροχή ρεύματος">
                                        <input type="hidden" name="phase_load" id="phase_load" required>
                                            {{ form1.select_phase }}
                                        <i class="fas fa-question-circle" id="phase-load-info" title="Συμβουλευτείτε το λογαριασμό παρόχου ρεύματος.
-> Μονοφασική παροχή εάν η συμφωνημένη ισχύς είναι: 8-12kVΑ!
-> Τριφασική παροχή εάν η συμφωνημένη ισχύς είναι: > 15 kVΑ!
                                            "></i>
                                    </div>
                            </div>
                   </div>

                    <!-- PANEL 2 -->
                    <div class="panel">
                        <div class="title-panel">
                            <span class="number"> 2 </span>
                            <h4>Ισχύς (KWp)</h4>
                        </div>

                        <div class="option-selector-margin">
                            <div class="slide-container" title="Παρακαλούμε, επιλέξτε παροχή και ύστερα επιθυμητή ισχύς φωτοβολταϊκού σε kWp">
                                <p><label for="myRangeSlider">Επιλέξτε:</label></p>
                                <input type="range" min="0" max="25" step="1" value="0" id="myRangeSlider" name="myRangeSlider" required>
                                <p>Τιμή: <span id="slider-value"></span></p>

                            </div>
                        </div>
                   </div>

                    <!-- PANEL 3 -->
                    <div class="panel">
                        <div class="title-panel">
                            <span class="number"> 3 </span>
                            <h4>Aποθήκευση</h4>
                        </div>
                            <div class="option-selector-margin" title="Παρακαλούμε, επιλέξτε εάν επιθυμείτε προσθήκη συσσωρευτών ή όχι">
                                 <label>Επιλέξτε:</label>
                                    <div class="container mt-3" >

                                        <div class="form-check" >
                                          <input type="radio" class="form-check-input" id="radio_option1" name="radio_option" value="without storage" checked>
                                          <label class="form-check-label" for="radio_option1">Xωρίς</label>
                                        </div>

                                        <div class="form-check">
                                          <input type="radio" class="form-check-input option2" id="radio_option2" name="radio_option" value="with storage">
                                          <label class="form-check-label" for="radio_option2">Με</label>

                                                  <div class="hidden-storage">
                                                    <label for="storage_kw">Δώστε την επιθυμητή ισχύ της μπαταρίας (σε kW):</label>
                                                    <input type="number" class="form-control" id="storage_kw" name="storage_kw">
                                                  </div>

                                        </div>


                                 </div>

                            </div>
                   </div>

                    <!-- PANEL 4 -->
                    <!-- Here you select the annual consumption of your house in kWh -->
                    <div class="panel">
                        <div class="title-panel">
                            <span class="number"> 4 </span>
                            <h4>Κατανάλωση</h4>
                        </div>

                                    <div class="option-selector-margin" >
                                        <p>{{ form2.select_kwh.label_tag }}</p>
                                        <p title="Παρακαλούμε, επιλέξτε εκτιμώμενη ετήσια κατανάλωση σε kW">{{ form2.select_kwh }}</p>
                                        <i class="fas fa-question-circle" id="annual-consumption-info" title="Συμβουλευτείτε το λογαριασμό παρόχου ρεύματος"></i>
                                    </div>

                   </div>
            </fieldset>

            <fieldset class="name-form-container">
                <div class="three-form-container">
                    {% for field in form %}
                        <label for="{{ field.name }}">{{ field.label }}</label><br>
                        {{ field }}<br><br>
                     {% endfor %}
                </div>

            </fieldset>

            <div class="my-submit-form">
                <button class="form-submit-button" type="reset">Διόρθωση</button>
                <button class="form-submit-button" type="submit">Υποβολή Στοιχείων</button>
            </div>

        </form>

                             <script>
                                const slider = document.getElementById("myRangeSlider");
                                const output = document.getElementById("slider-value");
                                slider.value = 0;
                                slider.disabled = 'phase_load'
                                // Set the initial value of the output element to 0
                                output.innerHTML = slider.value;


                                // Listen for changes in the phase load input and store the selected option
                                document.getElementById("id_select_phase").addEventListener("change", function(event){
                                    slider.value = 0; // Update the slider value to 0 when the phase load is changed
                                    slider.max = event.target.value === 'single_phase' ? 5 : 25
                                    slider.disabled = event.target.value === 'phase_load'
                                    output.innerHTML = slider.value; // Update the output element value to 0 when the phase load is changed
                                })

                                // Update the current slider value (each time you drag the slider handle)
                                    slider.oninput = function() {
                                        output.innerHTML = this.value;
                                    }

                                // Reset the output element value to the initial value when the reset button is clicked
                                    document.querySelector('button[type="reset"]').addEventListener('click', function(event) {
                                        slider.disabled = "phase_load"
                                        slider.value = 0;
                                        output.innerHTML = slider.value;
                                    });

                            </script>
    </div>

{% endblock %}
