{% extends "index.html" %}

{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block css %} 
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    -->
{% endblock %}

{% block script %}
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block menu_list %}
    <li><a class="nav-link active" href="{% url 'home' %}"><i class="fas fa-home"></i> home</a></li>
    <li><a href="{% url 'simulation:calculator' %}"><i class="fas fa-calculator"></i> calculator</a></li>
    <li><a href="{% url 'simulation:dashboard' %}"><i class="fas fa-qrcode"></i> dashboard</a></li>
    <li><a href="{% url 'simulation:regulations' %}"><i class="fas fa-scale-unbalanced-flip"></i> regulations</a></li>
    <li><a href="{% url 'simulation:about' %}"><i class="fas fa-info-circle"></i> about</a></li>
{% endblock %}



{% block body_class %} home-body {% endblock %}
  

{% block content %}

<div class="main-page-content">

  <section class="main-page-section">
       <div class="main-page-article">

          <div class="article-body">
            <h2 class="article-first-title">Το Net metering ως βιώσιμη λύση ενσωμάτωσης Φ/Β συστημάτων
            στο δίκτυο ηλεκτρικής ενέργειας. Μείωση κόστους ηλεκτρικής ενέργειας και υιοθέτηση 
            ανανεώσιμων πηγών ενέργειας.</h2>
             
          </div>

          <div class="article-body" >
            <h2 class="article-big-titles">Τι είναι το Net Metering;</h2>
             Ο ενεργειακός συμψηφισμός αυτοπαραγωγής με ιδιοκατανάλωση, είναι ένας μηχανισμός που επιτρέπει 
            στους κατόχους Φ/Β συστημάτων, να καταναλώνουν την ποσότητα ρεύματος τη στιγμή που παράγεται, 
            καθώς και να επιστρέφουν την πλεονάζουσα ηλεκτρική ενέργεια πίσω στο δίκτυο. Αυτή η ηλεκτρική 
            ενέργεια αποθηκεύεται στο δίκτυο έως ότου απαιτηθεί και μέχρι τα 3 έτη. Αυτό επιτυγχάνεται με 
            έναν μετρητή διπλής κατεύθυνσης, ο οποίος μετρά τόσο την ενέργεια που καταναλώνεται από το δίκτυο 
            όσο και αυτή που παράγεται από το Φ/Β και εγχύεται στο δίκτυο. Ο συμψηφισμός τελικά είναι λογιστικός, 
            στοχεύοντας στη μείωση έως μηδενισμό του λογαριασμού του ρεύματος. Μπορεί να αποδειχθεί εξαιρετικά 
            κερδοφόροw, με ή χωρίς υποστήριξη συστήματος μπαταριών. <strong>Για να δοκιμάσετε τον υπολογιστή προσομοίωσης
            επιλέξτε το "CALCULATOR" στη γραμμή πλοήγησης του ιστότοπου ή τον επόμενο σύνδεσμο: 
             <a href="{% url 'simulation:calculator' %}" class="link-mid-position-home" >
              <i class="fas fa-calculator spacer-text"></i> Υπολογιστής απόδοσης </a></strong>
   

          </div>

          <div class="img-div-home">
            <img class="img-info" src="{% static 'images/Net1.1.png' %}" alt="No Image">
          </div>

          <div class="article-body">
            <h2 class="article-big-titles">Η κερδοφορία του ενεργειακού συμψηφισμού αυτοπαραγωγής εξαρτάται άμεσα από:</h2>

            <ul>
                <li>
                    <h3 class="article-small-titles">Μέγεθος και χωρητικότητα του συστήματος: </h3>
                    Το μέγεθος και η χωρητικότητα του ηλιακού συστήματος επηρεάζουν απευθείας την κερδοφορία του. 
                    Μεγαλύτερα συστήματα μπορούν να παράξουν περισσότερη  ηλεκτρική ενέργεια, μεγιστοποιώντας την 
                    εξοικονόμηση μέσω ενεργειακού συμψηφισμού.
                </li>
                <li>
                    <h3 class="article-small-titles">Ηλιοφάνεια περιοχής εγκατάστασης και προσανατολισμός Φ/Β συστήματος: </h3>
                    Η ποσότητα ηλιακής ακτινοβολίας της περιοχής εγκατάστασης, επηρεάζουν 
                    την παραγωγή ενέργειας του φωτοβολταϊκού συστήματος, άρα την απόδοση του. 
                    Περιοχές με υψηλότερη ηλιακή ακτινοβολία θεωρούνται πιο επωφελείς για την 
                    εγκατάσταση των συστημάτων Net Metering. Επιπλέον, το αζιμούθιο και η κλίσης 
                    των ηλιακών πάνελ είναι σημαντικοί για την απόδοση του συστήματος. Το αζιμούθιο 
                    αναφέρεται στην κατεύθυνση προς την οποία είναι στραμμένο το σύστημα σε σχέση με 
                    τον γεωγραφικό βορρά, ενώ η κλίση αναφέρεται στη γωνία υπό την οποία τα πάνελ 
                    τοποθετούνται ανάλογα με το οριζόντιο επίπεδο. Η ιδανικές ρυθμίσεις για τα 
                    φωτοβολταϊκά πάνελ είναι να έχουν Νότιο προσανατολισμό και κλίση 30°.
                </li>
                <li>
                    <h3 class="article-small-titles">Προφίλ κατανάλωσης ηλεκτρικής ενέργειας: </h3>
                     Ο τρόπος κατανάλωσης της ηλεκτρικής ενέργειας επηρεάζει σημαντικά την κερδοφορία 
                     του ενεργειακού συμψηφισμού αυτοπαραγωγής. Η ευνοϊκή εκμετάλλευση των ωρών αιχμής 
                     παραγωγής ηλιακής ενέργειας επιτρέπει τη μέγιστη ιδιοκατανάλωση και, κατ' επέκταση,
                     μεγαλύτερες εξοικονομήσεις.
                </li>
            </ul>
            
                <div class="img-div-home">
                  <img class="img-equipment" src="{% static 'images/equipment_greek.png' %}" alt="No Image">
                </div>

             <div>
                <h2 class="article-big-titles">Ενσωμάτωση συσσωρευτών για αποθήκευση ενέργειας:</h2>

                <div>Παρόλο που ο ενεργειακός συμψηφισμός αυτοπαραγωγής μπορεί να υλοποιηθεί και χωρίς 
                  την υποστήριξη μπαταριών, η ενσωμάτωση συστημάτων αποθήκευσης ενέργειας προσφέρει 
                  επιπλέον οφέλη. Οι μπαταρίες επιτρέπουν στους κατόχους Φ/Β να αποθηκεύουν ενέργεια, 
                  για την καλυψη βασικών αναγκών του συστήματος, κατά τις ώρες χωρίς ηλιακή παραγωγή
                   ή περίπτωση διακοπής ρεύματος.
                </div>
                  
                        
                   <ul> <h3 class="article-small-titles">Οφέλη</h3>
                    <li>Αύξηση ιδιοκατανάλωσης</li>
                    <li>Εξασφάλιση σταθερότητας παροχής</li>
                    <li>Μείωση εξάρτησης από το δίκτυο</li>
                   </ul>

                   <div class="img-div-home">
                    <img class="img-info" src="{% static 'images/selfConsume2.jpg' %}" alt="No Image">
                  </div>
             </div>
                    <div class="container carousel-border">
                      <h2>Οφέλη Ενσωμάτωσης συσσωρευτών</h2>
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                    
                          <div class="item active">
                            <img src="{% static 'images/overproducing.jpg' %}" alt="overproducing" style="width:100%;">
                            <div class="carousel-caption">
                              <h3></h3>
                              
                            </div>
                          </div>
                    
                          <div class="item">
                            <img src="{% static 'images/power_outage2.jpg' %}" alt="power-outage" style="width:100%;">
                            <div class="carousel-caption">
                              <h3></h3>
                              
                            </div>
                          </div>
                        
                          <div class="item">
                            <img src="{% static 'images/underproducing.jpg' %}" alt="underproducing" style="width:100%;">
                            <div class="carousel-caption">
                              <h3></h3>
                          
                            </div>
                          </div>
                      
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
            
             
            
          </div>   

      </div>
  </section>

  </div>

  <div class="spacer"></div>


{% endblock %}