<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Homepage</title>
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="website icon" type="png" href="{% static 'images/panel_128x107.png'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    <link rel="stylesheet" href=" {% static 'Net_Metering/css/style2.css' %}"/>
    <link rel="stylesheet" href=" {% static 'Net_Metering/javascript/script.js' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>
<body>

        <header class="main-header">
            <div class="header-container-left">
                <a href="{% url 'home' %}"><img class="sm-image" src="{% static 'images/panel.png'%}" alt="photo not found"></a>
                <label class="logo"><a class="text-decoration-none" href="{% url 'home' %}">Simulation - <b style="color: #ed4901;">N</b>et Metering</a></label>
            </div>
            <div class="header-container-right">
                <label class="signup"><a href="http://127.0.0.1:8000/signup/"><i class="fas fa-user"></i></a></label>
                <label class="login"><a href="http://127.0.0.1:8000/login/"><i class="fas fa-sign-in"></i></a></label>
            </div>
        </header>

        <nav class="second-navbar">

            <div class="second-navbar-left-container" id="second-navbar-left-container">

                <input type="checkbox" id="check-navbar">
                        <label  for="check-navbar" id="menu-nav-button" class="demo-class">
                            <i class="fas fa-bars"></i></label>

                <ul class="nav-list" id="nav-list">
                    {% block menu_list %}
                    <li><a class="nav-link active" href="{% url 'home' %}"><i class="fas fa-home"></i> home</a></li>
                    <li><a href="{% url 'simulation:dashboard' %}"><i class="fas fa-qrcode"></i> dashboard</a></li>
                    <li><a href="{% url 'simulation:calculator' %}"><i class="fas fa-calculator"></i> calculator</a></li>
                    <li><a href="{% url 'simulation:regulations' %}"><i class="fas fa-scale-unbalanced-flip"></i> regulations</a></li>
                    <li><a href="{% url 'simulation:info' %}"><i class="fas fa-info-circle"></i> info</a></li>
                    {% endblock %}
                </ul>

                                <script>
                                let button2 = document.querySelector('#menu-nav-button');
                                let originalButton = button2.innerHTML;
                                let button2IsOriginal = true;

                                button2.addEventListener('click', function() {
                                    if (button2IsOriginal) {
                                    button2.innerHTML = '<i class="fas fa-times" aria-hidden="true"></i>';
                                    button2IsOriginal = false;
                                    } else {
                                    button2.innerHTML = originalButton;
                                    button2IsOriginal = true;
                                    }
                                });

                                </script>
               <script>
                // Store the element's initial position
                var initialPositionMenu = {top: '100px', left: '-220%' };
                var initialPositionSearchBox = {hidden};

                window.onload = function() {
                  // Get a reference to the elements
                  var menuNavbar = document.getElementById('nav-list');
                  var searchBox = document.getElementById('search-box')

                  // Reset the elements' position to the initial position
                  menuNavbar.style.top = initialPositionMenu.top;
                  menuNavbar.style.left = initialPositionMenu.left;
                  searchBox.style.top = initialPositionSearchBox.top;
                  searchBox.style.left = initialPositionSearchBox.left;
                };
            </script>
            </div>

            <div class="second-navbar-right-container">
                    <div class="search-box-container">
                        <input type="checkbox" id="small-show-search-checkbox">
                        <label  for="small-show-search-checkbox" id="small-screen-button" class="small-screen-show-search-button">
                            <i class="fas fa-search"></i></label>

                       <script>
                            let button = document.querySelector('#small-screen-button');
                            let originalButtonSearchButton = button.innerHTML;
                            let buttonIsOriginal = true;

                            button.addEventListener('click', function() {
                                if (buttonIsOriginal) {
                                button.innerHTML = '<i class="fas fa-times" aria-hidden="true"></i>';
                                buttonIsOriginal = false;
                                } else {
                                button.innerHTML = originalButtonSearchButton;
                                buttonIsOriginal = true;
                                }
                            });
                       </script>

                            <form action="{% url 'simulation:calculator' %}" class="search-box" id="search-box">
                                    <input type="search" id="large-screen-search-button" placeholder="  Search here..">
                                    <label for="large-screen-search-button"></label>
                                    <button class="large-screen-search-button" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                    </div>

            </div >


        </nav>

        {% block content %}

            <div class="main-page-content">

                <section class="main-page-section">
                     <div class="main-page-article">

                        <p class="article-paragraph-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>

                        <p class="article-paragraph-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>

                        <p class="article-paragraph-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>

                        <p class="article-paragraph-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>

                    </div>
                </section>

            </div>

        {% endblock %}

<footer class="footer">
    <div class="other-links">
        <a href="https://linkedin.com/in/anestis-giannakosian-880707220"><i class="fab fa-linkedin-in"></i> </a>
        <a href="https://github.com/anegian"><i class="fab fa-github"></i></a>
        <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
    </div>

        <span class="admin-info">
            <i class="fas fa-copyright"> 2022 Anestis Giannakosian. All rights reserved</i>

        </span>
</footer>



</body>
</html>